<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magentoese" translate="label" sortOrder="101">
            <label>Magento ESE</label>
        </tab>
        <section id="magentoese_storystore" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Story Store</label>
            <tab>magentoese</tab>
            <resource>Magento_Ese::config_storystore</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="primary_surface" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Primary Surface</label>
                    <comment><![CDATA[Background color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="primary_content" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Primary Content</label>
                    <comment><![CDATA[Content color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="secondary_surface" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secondary Surface</label>
                    <comment><![CDATA[Background color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="secondary_content" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secondary Content</label>
                    <comment><![CDATA[Content color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="accent_surface" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Accent Surface</label>
                    <comment><![CDATA[Background color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="accent_content" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Accent Content</label>
                    <comment><![CDATA[Content color]]></comment>
                    <frontend_model>MagentoEse\StoryStore\Block\Color</frontend_model> 
                </field>
                <field id="dark_mode" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dark Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="home_page" translate="label" type="select" sortOrder="7" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Home Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                </field>
                <field id="footer_block" translate="label" type="select" sortOrder="8" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Footer Block</label>
                    <source_model>Magento\Cms\Model\Config\Source\Block</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
